__pycache__/
.pytest_cache/
venv
logs/
tests/__pycache__/
training/__pycache__/
training/.pytest_cache/
training/dow30_data.csv/
backend/__pycache__/
backend/app/static/
backend/app/__pycache__/
backend/app/__init__.py
backend/app/routes/__pycache__/
backend/app/routes/__init__.py
backend/app/services/__pycache__/
backend/app/services/__init__.py
backend/app/utils/__pycache__/
backend/app/utils/__init__.py
backend/artifacts/
frontend/eslint.config.js
frontend/package-lock.json
frontend/package.json
frontend/README.md
frontend/ vite.config.js
training/dow30_data.csv
